.page {
  background-color: #000;
  color: #fff;
  min-height: 100vh;
  max-width: 1280px;
  min-width: 320px;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 45px 200px 56px;
}

@media screen and (max-width: 1280px) {
  .page {
    padding-top: calc((100vw - 320px) * 0.01771 + 28px);
    padding-right: calc((100vw - 320px) * 0.18854 + 19px);
    padding-bottom: calc((100vw - 320px) * 0.023956 + 33px);
    padding-left: calc((100vw - 320px) * 0.18854 + 19px);
  }
}
