.profile__subtitle {
  margin: 0;
  font-size: 18px;
  line-height: 1.21;
  max-width: 300px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@media screen and (max-width: 680px) {
  .profile__subtitle {
    align-self: center;
    max-width: 282px;
  }
}

@media screen and (max-width: 460px) {
  .profile__subtitle {
    font-size: 14px;
  }
}
