.elements {
  padding-top: 51px;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
  row-gap: 20px;
  column-gap: 17px;
}

@media screen and (min-width: 1280px) {
  .elements {
    max-width: 880px;
  }
}

@media screen and (max-width: 450px) {
  .elements {
    padding-top: 36px;
  }
}

@media screen and (max-width: 320px) {
  .elements {
    padding-left: 19px;
    padding-right: 19px;
  }
}
